<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="xiaoq@adslr.com">
    <meta name="author" content="xiaoq">
    <link rel="icon" href="./static/bbs/jpg/favicon.ico">

    <title> shall we go? 随性购  随时够 --[韩国购] </title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bbs/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="
    /static/bbs/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="
    /static/bbs/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">This is the LOGO!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">主页</a></li>
            <li class="classify">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">护肤系列</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">护理修护</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">潮流美妆</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">鞋包轻奢</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
          </ul>
          <ul class='nav navbar-nav navbar-right'>
            <li><a href="#contact">联系我们</a></li>
            <li><a href="#about">关于</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="bigimg" c>
        	<a class="" href="#" role="button"><img src="/static/bbs/jpg/sulwhasoo.jpg">
        	</a>
        </p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="
    /static/bbs/js/jquery.js"></script>
    <script src="
    /static/bbs/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="
    /static/bbs/js/ie10-viewport-bug-workaround.js"></script>
  

</body></html>
